
body { 
background-image: url('../images/bg1.png');
}
/*@media screen  and (min-width: 1000px) {
body>background-image {width: 100%; height: 100%;}
}*/

#Container {
margin: 30% 10% 30%;
background-color: white;
/*margin-top: 10%; 
margin-right: 30%
*/
border-radius:50px;
padding: 2%;

padding-left: 25%

}

